# Игнорируем всё
/*

# Но сохраняем нужные файлы и папки
!lib/
!lib/**
!pubspec.yaml

# Дополнительно сохраняем стандартные файлы Flutter (опционально)
!.gitignore
!README.md
!analysis_options.yaml
!.metadata